/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2018, 4:13:46 PM
    Author     : aytugh
*/

title{
    font-family: arial;
    font-size: larger;
}

table{
    width: 350px;
    padding: 10px;
    background-color: #cccccc;
    font-family: sans-serif;
    
}
